issuer: http://127.0.0.1:5556/dex
storage:
  type: postgres
  config:
    host: postgres
    port: 5432
    database: dex
    user: dex_user
    password: yVweto4e
    ssl:
      mode: disable

web:
  http: 0.0.0.0:5556

grpc:
  addr: 0.0.0.0:5557
  reflection: true

staticClients:
  - id: simple-commerce
    redirectURIs:
      - "http://127.0.0.1:8080/callback"
      - "https://oauth.pstmn.io/v1/callback"
    name: "Simple Commerce"
    secret: "Zm9vYmFy"
  - id: simple-commerce-admin
    redirectURIs:
      - "http://localhost:5173/auth/callback"
      - "http://localhost:4173/auth/callback"
    name: "Simple Commerce Dashboard"
    public: true

enablePasswordDB: true
staticPasswords:
  # Admin / Owner
  - email: "storeowner@simple-commerce.com"
    # password: simple_commerce
    hash: "$2a$12$.EoexsiydIigTXvbC3S06.hs7FVM6d.6yryz2mtoqNFSQz/Hh3qBS"
    username: "simple_commerce"
    userID: "1f1de938-6c08-4435-8ef1-068f7b9c7f16"
  # Staff / Merchandiser
  - email: "trinity@simple-commerce.com"
    # password: trinity123
    hash: "$2a$12$w1Gab2Wmlrb9GAMMCZu90u4NS8Oq2VIGAPwsloZx5h5EPuSZkjpUC"
    username: "trinity"
    userID: "93a38a0f-1c1e-4c24-87be-99b13446f73c"
  # External Collaborator
  - email: "tank.ext@simple-commerce.com"
    # password: tank123
    hash: "$2a$12$opUqe0FiPBTJvOD6qPJLruJhIokMkWEz/m0rklIZmOk0x6gbfO/h."
    username: "tank"
    userID: "14f6055e-cb8a-439f-939d-7a936fd24bb3"
  # Customer
  - email: "naomi@example.com"
    # password: naomi123
    hash: "$2a$12$9Mxg34s7Mq621FA1Xpf5M.rhVwrbIWVlBL7IdPUgo7OR74wroNM0W"
    username: "naomi"
    userID: "aab278e5-5495-4706-bc0c-7aa53eecff2f"
